/* color 3  CBD2A4*/
/* color 4  E9EED9*/
.new-manage-buttons {
    margin-left: 4%;
    margin-top: 0.5%;
}

.new-manage-buttons button {
    margin: 0.3%;
    padding: 0.5% 1%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #CBD2A4;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial;
}

.new-manage-buttons button:hover, .new-manage-buttons button:active {
    background-color: hsla(69, 34%, 73%, 0.137);
    color: black;
}
