

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
   align-items:flex-start;
    padding: 0 10px; 
   
}

.signup-page-body {
    margin: 0;
    padding: 0;
    background-color: #F3FFCD;
}
.logo {
    margin: 10px;
    width: 15%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.login {
    margin: 10px;
    width: 10%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regist {
  
 position: absolute;
   top: 50%;
 left: 50%;
  transform: translate(-50%, -50%);
   
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 5px;
    height: 90%;
    background-color: #FFFFFF;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.4);
    
}

.signUp-options {
   margin: 8px;
    background-color: #FFFFFF;
    width: 60%;
    height: 50px;
    padding: 6px;
    padding-left: 8px;
    border-radius: 20px;
    color: black;
}
.signUp-options:hover{
    background:linear-gradient(rgba(128, 128, 128, 0.247),white);
}


.signUp{
    margin: 8px;
    background-color: #FFFFFF;
    width: 60%;
    height: 50px;
    padding: 6px;
    padding-left: 8px;
    border-radius: 20px;
    color: black;
    background: #FEEFAE;
      text-align: center;
    color: "black";
    font-weight: 800;
}
.signUp:hover, .login:hover{
    background-color: #e3c5a4;  
    transform: scale(1.05); 
}
