.body{
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin: auto;
  height:90%;
  margin-top: 10px;
  

}
body{
    background-color: #FEEFAE;
}

.logo {
    margin: 10px;
    width: 15%;
    background-color: hsla(27, 71%, 89%, 0);
    border-radius: 20px;
    border: none;
}
.menu-class{
    background-color:rgba(251, 165, 165, 0.2); 
    color: #8A521A;  
    padding: 3px 25px;  
    font-family: 'Imprima', sans-serif;  
    font-size: 16px;  
    
    align-items: center;
    border-radius: 20px;  
    cursor: pointer;  
    box-shadow: inset 0px 2.9px 5px rgba(0, 0, 0, 0.2); 
}