/* color 3  CBD2A4*/
/* color 4  E9EED9*/
.new-manage-buttons {
    display: flex;
    margin-left: 4%;
    margin-right: 4.5%;
    margin-top: 0.5%;
}

.new-manage-buttons button {
    margin: 0.3%;
    padding: 0.5% 1%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #CBD2A4;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial;
}

.new-manage-buttons button:hover, .new-manage-buttons button:active {
    background-color: hsla(69, 34%, 73%, 0.137);
    color: black;
}

.menu-page {
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 5%;
    height: 100vh;
    width: 100vw;
}

body.admin-body {
    margin: 0;
    padding: 0;
    background-color: #CBD2A4;
}

.filter-by {
    margin: 0.3%;
    padding: 0.5% 1%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #CBD2A4;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial;
}