/* color 3  CBD2A4*/
/* color 4  E9EED9*/

.navbar-container {
    background-color: #6C4E31;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2%;
    border-radius: 5px;
    max-width: 90%;
    margin: 0 5%;
}

.navbar-container button {
    margin: 0.3%;
    padding: 0.5% 1%;
    border: 3px solid #CBD2A4;
    border-radius: 15px;
    background-color: transparent;
    color: #E9EED9;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial;
}

.navbar-container .logout-button {
    margin-left: auto;
    background-color: #CBD2A4;
    border: none;
    color: black;
}

.navbar-container button:hover {
    background-color: #CBD2A4;
    color: black;
}

.navbar-container .active {
    background-color: #CBD2A4;
    color: black;
}