body.menu-body {
    background-image: url('../assets/menuBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.Menu-logo {
    position: absolute;
    top: 3.31%;
    left: 3.23%;
    width: 15.294%;
    height: auto;
    z-index: 10;
}

/* Navigation Buttons Styles */
.navigation-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 2%;
    position: absolute;
    right: 0; /* Move the entire container to the right */
    top: 0;  /* Adjust vertical alignment as needed */
}

.menu-login-button, .menu-signup-button, .menu-track-button {
    background-color: rgba(251, 165, 165, 0.2);
    color: #8A521A;
    padding: 3px 25px;
    margin-left: 10px;
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: inset 0px 2.9px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.menu-login-button:hover, .menu-signup-button:hover, .menu-track-button:hover {
    background-color: #e3c5a4;
    transform: scale(1.05);
}

.menu-login-button:focus, .menu-signup-button:focus, .menu-track-button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(124, 94, 70, 0.5);
}
.Orders {
    width: 60px;
    height: auto;
    position: absolute;
    top: 0.8%;
    right: 100%;
    z-index: 10;
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: 9% auto 0;
    padding: 2%;
    overflow-y: auto;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 2%;
}

.searchBar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 16%;
    background: linear-gradient(to right, rgba(217, 217, 217, 0.2) 0%, rgba(208, 146, 46, 0.2) 100%);
    border-radius: 20px;
    border: 1px solid #F18A86;
}

.search {
    width: 40px;
    height: 35px;
}

.catlist-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 50px;
    scrollbar-width: none;
}

.catlist-container::-webkit-scrollbar {
    display: none;
}

.catlist {
    background-color: rgba(255, 255, 255, 0.1);
    color: #54473F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Imprima', sans-serif;
    text-decoration: none;
    position: relative;
}

.catlist:focus::after {
    content: '';
    position: absolute;
    left: 30%;
    bottom: 2px;
    width: 40%;
    height: 2px;
    background-color: #54473F;
    transition: width 0.2s ease-in-out;
}

.catlist:focus {
    outline: none;
}

.category-name {
    font-size: 30px;
    text-align: center;
    font-family: 'Imprima', sans-serif;
    margin-bottom: 1px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    padding: 20px;
    margin-bottom: 25px;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5%;
    width: 22%;
    height: 22%;
    max-width: 250px;
    aspect-ratio: 1/1;
    position: relative;
}

.item-card img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.item-card h1 {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #54473F;
    font-family: 'Imprima', sans-serif;
    margin-top: auto;
}
.item-card:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .categories-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .searchBar {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .searchBar {
        width: 40%;
    }
    
    .navigation-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .categories-container {
        grid-template-columns: 1fr;
    }
    
    .searchBar {
        width: 80%;
    }
}